<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Creator's Site", "https://github.com/zipitio", class: "text-white" %></small>
  </div>
</footer>